
.main{
    width: 90vw;
    height: 90vh;
    background: #fcfcfd;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.my-table{
    border: solid 1px #000;
}

td{
    border: solid 1px #000;
    padding: 10px 10px;
}

.form{

    /* background-color: rgb(59, 65, 99); */
    width: 700px;
    margin-bottom: 30px;
    padding: 10px 15px;

}

.form label{
    margin-left: 15px;
    margin-top: 15px;
}

.form .btn{
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.3rem;
}



h1{
    text-align: center;
   
}

.btn-user-edit{
    
    width: 100%;
    cursor: pointer;
    margin-left: 10px;
}

td{
    text-align: center;
}

.my-table{
    border-radius: 15px;
    margin-top: 10px;
}


.search{
    margin-top: 80px;
}


.btn-actions input{
    margin-left: 10px;
}

.links{
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.newUser{
    position: absolute;
    right: 0;
    margin-bottom: 10px;
}

.btn-delete{
    margin-left: 10px;
}