.main{
    width: 90vw;
    height: 90vh;
    background: #fcfcfd;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}