.main-work-order {
    display: flex;
    width: 85vw;
    height: 80vh;
    flex-direction: column;

    align-items: center;
    margin-left: 20px;




}

.search-work-order {
    margin-bottom: 10px;
}

.title{

top: 10px;
width: 100%;
height: 50px;
}

.title p{
    text-align: center;
    margin-bottom: 20px;
}

.new-order{

    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    
}

.new-work-order {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
}

.btn-work-order{
    
    width: 200px;
}