.main-user-form {
    display: flex;
    width: 85vw;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

}



select{
    margin-top: 0px;
    margin-bottom: 0;
    
}

label{
    margin-top: 10px;
}


.form{

    /* background-color: rgb(59, 65, 99); */
    width: 700px;
    margin-bottom: 30px;
    padding: 10px 15px;

}

.my-button{
    width: 200px;
}
