/* :root {
    --sideBarColor: rgb(38, 67, 80);
    --nameColor: rgb(0, 255, 30);
} */

/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@900&family=Zen+Dots&display=swap'); */





/* p {
    font-family: 'Zen Dots', cursive;
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    color: #fff;
    
    transform: translateY(50%); 

} */


/* .name {
    color: var(--nameColor);
} */

/* .area {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 35px;
    background: var(--sideBarColor);




} */
