 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }


 .title {
   margin: 50px;
 }

 .my-table {
  
   margin-top: 10px;
   width: 90%;
 }

 label {
  margin-top: 15px;
  margin-bottom: 5px;
}